<div class="button-container">
  <button type="button" onclick="getWeatherByCity()">
    Get Weather by City
  </button>
  <button type="button" onclick="getWeatherByCoordinates()">
    Get Weather by Coordinates
  </button>
  <button type="button" onclick="getCurrentLocationWeather()">
    Get Current Location Weather
  </button>
  <button type="button" onclick="selectCityOnMap()">Select City on Map</button>
</div>
