<form id="add-user-form">
  <div class="input-element">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required />
  </div>
  <br />
  <div class="input-element">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <br />
  <div class="input-element">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <br />
  <div class="input-element">
    <label for="confirm-password">Confirm Password:</label>
    <input
      type="password"
      id="confirm-password"
      name="confirm-password"
      required
    />
  </div>
  <br />
  <div class="input-element">
    <label for="admin">Is admin?</label>
    <input type="checkbox" id="admin" name="admin" />
  </div>
  <br />
  <button type="submit">Add User</button>
</form>
