<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="../css/admin.css" />
    <link
      rel="stylesheet"
      href="./adminComponents/addUserForm/addUserForm.css"
    />
    <link rel="stylesheet" href="./adminComponents/userList/userList.css" />
    <link
      rel="stylesheet"
      href="./adminComponents/weatherHistory/weatherHistory.css"
    />
  </head>
  <body>
    <div class="admin-nav">
      <%- include('./weatherComponents/navbar.ejs') %>
    </div>

    <h1>Admin Page</h1>

    <%- include('./adminComponents/addUserForm.ejs') %>

    <h2>All Users:</h2>
    <%- include('./adminComponents/userList.ejs') %>

    <h2>User Weather History:</h2>
    <%- include('./adminComponents/weatherHistory.ejs') %>

    <script src="../js/admin.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
