<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="../css/login.css" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.svg" />
  </head>
  <body>
    <div class="wrapper">
      <!-- Include registration form component -->
      <%- include('./indexComponents/registrationForm.ejs') %>

      <!-- Include login form component -->
      <%- include('./indexComponents/loginForm.ejs') %>
    </div>

    <script src="../js/login.js"></script>
  </body>
</html>
